<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-5">
    <div class="container">
        <form action="/booking" method="post">
            <input type="hidden" name="id" th:value="${dichvu.getIddichvu()}">
            <div class="form-group">
                <label for="tendichvu">Tên dịch vụ:</label>
                <input type="text" class="form-control" id="tendichvu"
                       name="tendichvu" th:value="${dichvu.getTenDichVu()}" disabled>
            </div>
            <div class="form-group">
                <label for="dientich">Diện tích sử dụng:</label>
                <input type="text" class="form-control" id="dientich"
                       name="dientich" th:value="${dichvu.getDientich()}" disabled>
            </div>
            <div class="form-group">
                <label for="chiphithue">Chi phí thuê:</label>
                <input type="text" class="form-control" id="chiphithue"
                       name="chiphithue" th:value="${dichvu.getChiPhiThue()}" disabled>
            </div>
            <div class="form-group">
                <label for="songuoitoida">Số người tối đa:</label>
                <input type="text" class="form-control" id="songuoitoida"
                       name="songuoitoida" th:value="${dichvu.getSoNguoiToiDa()}" disabled>
            </div>
            <div class="form-group">
                <label for="sotang">Số tầng:</label>
                <input type="text" class="form-control" id="sotang"
                       name="sotang" th:value="${dichvu.getSoTang()}" disabled>
            </div>
            <div class="form-group">
                <label for="ngaybatdau">Ngày bắt đầu:</label>
                <input type="date" class="form-control" id="ngaybatdau"
                       name="ngaybatdau" >
            </div>
            <div class="form-group">
                <label for="ngayketthuc">Ngày kết thúc:</label>
                <input type="date" class="form-control" id="ngayketthuc"
                       name="ngayketthuc" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</div>
</body>
</html>