<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <p style="color: navy">
        <a th:href="@{/createBook}"> Thêm Mới</a>
    </p>
    <h2 style="text-align: center"> List Book</h2>
    <table class="table table-dark table-hover" >
        <thead>
        <tr>
            <th>Mã Sách</th>
            <th>Tên Sách </th>
            <th>Tác Giả</th>
            <th>Giá Bán</th>
            <th>Edit</th>
            <th>Deleted</th>
        </tr>
        </thead>
        <tbody th:each="book : ${listBook}">
        <tr>
            <td th:text="${book.maSach}"></td>
            <td th:text="${book.nameBook}"></td>
            <td th:text="${book.tacGia}"></td>
            <td th:text="${book.giaBan}"></td>
            <td><a th:href="@{/edit-book/__${book.getId()}__ }">Edit</a></td>
            <td><a th:href="@{/delete-book/__${book.getId()}__ }">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <div th:if="${look}">
        <a th:href="@{'/customer'(page=${listBook.number - 1}, s=${look})}"
           th:if="${listBook.hasPrevious()}">Previous</a>
        <span th:text="${listBook.number + 1}"></span>/<span th:text="${listBook.totalPages}"></span>
        <a th:href="@{'/customer'(page=${listBook.number + 1}, s=${look})}" th:if="${listBook.hasNext()}">Next</a>
    </div>
    <div th:if="${look}==null">
        <a th:href="@{'/customer'(page=${listBook.number - 1}) }" th:if="${listBook.hasPrevious()}">Previous</a>
        <span th:text="${listBook.number + 1}"></span>/<span th:text="${listBook.totalPages}"></span>
        <a th:href="@{'/customer'(page=${listBook.number + 1})}" th:if="${listBook.hasNext()}">Next</a>
    </div>
</div>
<form>
    <h2>Search by firstName</h2>
    <input name="masach" type="text"/>
    <input type="submit" value="Search"/>
</form>

</body>
</html>